export CLUSTER_NAME="aks-fips-istio"
export RESOURCE_GROUP="rg-aks-fips-istio"
export LOCATION="westus2"
export KUBERNETES_VERSION="1.36.1"
export SYSTEM_NODE_SIZE="Standard_DS4_v2"
export FIPS_NODE_SIZE="Standard_D4ds_v5"
export FIPS_NODE_COUNT="3"
export KUBECONFIG="${PWD}/cluster.config"
export POD_CIDR="${POD_CIDR:-10.244.0.0/16}"
export SERVICE_CIDR="${SERVICE_CIDR:-10.0.0.0/16}"
export DNS_SERVICE_IP="${DNS_SERVICE_IP:-10.0.0.10}"
